*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f9fd;
}

.sidebar {
  flex: 1;
  padding: 30px;
  color: rgb(235, 235, 235);
  background-color: #1a1053;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.logo {
  padding: 18px;
  font-size: 2rem;
}

ul {
  list-style: none;
}

.navlink {
  padding: 30px 20px;
  color: #f3f3f3;
  font-size: 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.main {
  background-color: #f7f9fd;
  z-index: 2;
  margin-left: -30px;
  border-radius: 30px;
  padding: 10px 30px;
  flex: 9;
}
.container {
  padding: 20px;
}
.head {
  padding: 10px;
  margin-bottom: 2rem;
}
.head h1 {
  font-size: 1.4rem;
  font-weight: 500;
}
.head span {
  font-size: 1.7rem;
  font-weight: 900;
  color: #6236ff;
  padding: 0px 20px;
}

.global-status {
  padding: 10px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-3 {
  flex: 1;
  max-width: 33.33%;
  padding: 20px;
}

.status-box {
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  padding: 20px;
  line-height: 2rem;
  box-shadow: 0px 0px 10px 0px rgb(226, 228, 230);
}

.total,
.active,
.recoverd,
.death {
  font-size: 1.8rem;
  padding: 5px 0;
}

.total {
  color: #fd4e71;
}

.active {
  color: #ff751a;
}

.recoverd {
  color: #6dd400;
}

.death {
  color: #9475ff;
}
